.container {
  text-align: center;
background-image: url(../assets/gambar/1.jpg);
padding: 50px 100px 50px 100px;
  
}

a:visited{
  color: whitesmoke;
}

.bt{
  background-color: black;
}

.daftar{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  
 
}
.merk {
  color: white;
  text-shadow: black 3px 3px 3px;

}
.add {
  background-color: black;
  color: white;
  font-size: 20px;
}
h1{
  text-align: center;
  font-size: 100px;
  color: white;
  text-shadow: black 5px 5px 5px; 
}